<a href="https://colab.research.google.com/github/Zahra1954/monogram2/blob/master/Session5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
jalase 5

SyntaxError: ignored

In [57]:
import pandas as pd

In [58]:
from google.colab import files

In [59]:
uploaded= files.upload()

Saving missing-dataset-falcon9.xlsx to missing-dataset-falcon9 (1).xlsx

In [94]:
df_missing=pd.read_excel('missing-dataset-falcon9.xlsx')

In [61]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     81 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      86 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     int64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 10.9+ KB

In [62]:
df_row=df_missing.dropna(axis=0)

In [63]:
df_row

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
13,14,2015-04-14,Falcon 9,1898.000000,ISS,CCAFS SLC 40,False ASDS,1,True,False,False,5e9e3032383ecb761634e7cb,1,0,B1015,-80.577366,28.561857,0
15,16,2015-06-28,Falcon 9,2477.000000,ISS,CCAFS SLC 40,None ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,1,0,B1018,-80.577366,28.561857,0
16,17,2015-12-22,Falcon 9,2034.000000,LEO,CCAFS SLC 40,True RTLS,1,True,False,False,5e9e3032383ecb267a34e7c7,1,0,B1019,-80.577366,28.561857,1
17,18,2016-01-17,Falcon 9,553.000000,PO,VAFB SLC 4E,False ASDS,1,True,False,False,5e9e3033383ecbb9e534e7cc,1,0,B1017,-120.610829,34.632093,0
18,19,2016-03-04,Falcon 9,5271.000000,GTO,CCAFS SLC 40,False ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,1,0,B1020,-80.577366,28.561857,0
19,20,2016-04-08,Falcon 9,3136.000000,ISS,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,1,B1021,-80.577366,28.561857,1
21,22,2016-05-27,Falcon 9,3100.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,1,B1023,-80.577366,28.561857,1
22,23,2016-07-18,Falcon 9,2257.000000,ISS,CCAFS SLC 40,True RTLS,1,True,False,False,5e9e3032383ecb267a34e7c7,2,1,B1025,-80.577366,28.561857,1
23,24,2016-08-14,Falcon 9,4600.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,2,0,B1026,-80.577366,28.561857,1
24,25,2016-09-01,Falcon 9,5500.000000,GTO,CCAFS SLC 40,None ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,3,0,B1028,-80.577366,28.561857,0
25,26,2017-01-14,Falcon 9,9600.000000,PO,VAFB SLC 4E,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,3,1,B1029,-120.610829,34.632093,1
26,27,2017-02-19,Falcon 9,2490.000000,ISS,KSC LC 39A,True RTLS,1,True,False,True,5e9e3032383ecb267a34e7c7,3,1,B1031,-80.603956,28.608058,1
28,29,2017-03-30,Falcon 9,5300.000000,GTO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,2,1,B1021,-80.603956,28.608058,1
31,32,2017-06-03,Falcon 9,2708.000000,ISS,KSC LC 39A,True RTLS,1,True,False,False,5e9e3032383ecb267a34e7c7,3,1,B1035,-80.603956,28.608058,1
33,34,2017-06-25,Falcon 9,9600.000000,PO,VAFB SLC 4E,True ASDS,1,True,False,False,5e9e3033383ecbb9e534e7cc,3,1,B1036,-120.610829,34.632093,1
35,36,2017-08-14,Falcon 9,2910.000000,ISS,KSC LC 39A,True RTLS,1,True,False,False,5e9e3032383ecb267a34e7c7,4,1,B1039,-80.603956,28.608058,1
36,37,2017-08-24,Falcon 9,475.000000,SSO,VAFB SLC 4E,True ASDS,1,True,False,False,5e9e3033383ecbb9e534e7cc,3,1,B1038,-120.610829,34.632093,1
37,38,2017-09-07,Falcon 9,4990.000000,LEO,KSC LC 39A,True RTLS,1,True,False,False,5e9e3032383ecb267a34e7c7,4,1,B1040,-80.603956,28.608058,1
38,39,2017-10-09,Falcon 9,9600.000000,PO,VAFB SLC 4E,True ASDS,1,True,False,False,5e9e3033383ecbb9e534e7cc,4,1,B1041,-120.610829,34.632093,1
39,40,2017-10-11,Falcon 9,5200.000000,GTO,KSC LC 39A,True ASDS,2,True,True,False,5e9e3032383ecb6bb234e7ca,3,1,B1031,-80.603956,28.608058,1
40,41,2017-10-30,Falcon 9,3700.000000,GTO,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,4,0,B1042,-80.603956,28.608058,1
41,42,2017-12-15,Falcon 9,2205.000000,ISS,CCAFS SLC 40,True RTLS,2,True,True,False,5e9e3032383ecb267a34e7c7,3,1,B1035,-80.577366,28.561857,1
48,49,2018-04-18,Falcon 9,350.000000,HEO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,4,1,B1045,-80.577366,28.561857,1
49,50,2018-05-11,Falcon 9,3750.000000,GTO,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,3,B1046,-80.603956,28.608058,1
52,53,2018-07-22,Falcon 9,7076.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,2,B1047,-80.577366,28.561857,1
53,54,2018-07-25,Falcon 9,9600.000000,PO,VAFB SLC 4E,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5,4,B1048,-120.610829,34.632093,1
54,55,2018-08-07,Falcon 9,5800.000000,GTO,CCAFS SLC 40,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5,3,B1046,-80.577366,28.561857,1
55,56,2018-09-10,Falcon 9,7060.000000,GTO,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
56,57,2018-10-08,Falcon 9,2800.000000,SSO,VAFB SLC 4E,True RTLS,2,True,True,False,5e9e3032383ecb554034e7c9,5,4,B1048,-120.610829,34.632093,1
57,58,2018-11-15,Falcon 9,3000.000000,GTO,KSC LC 39A,True ASDS,2,True,True,False,5e9e3032383ecb6bb234e7ca,5,2,B1047,-80.603956,28.608058,1
58,59,2018-12-03,Falcon 9,4000.000000,SSO,VAFB SLC 4E,True ASDS,3,True,True,False,5e9e3033383ecbb9e534e7cc,5,3,B1046,-120.610829,34.632093,1
59,60,2018-12-05,Falcon 9,2573.000000,ISS,CCAFS SLC 40,False RTLS,1,True,False,False,5e9e3032383ecb267a34e7c7,5,0,B1050,-80.577366,28.561857,0
61,62,2019-01-11,Falcon 9,9600.000000,PO,VAFB SLC 4E,True ASDS,2,True,True,False,5e9e3033383ecbb9e534e7cc,5,5,B1049,-120.610829,34.632093,1
62,63,2019-03-02,Falcon 9,12259.000000,ISS,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
63,64,2019-05-04,Falcon 9,2482.000000,ISS,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,3,B1056,-80.577366,28.561857,1
64,65,2019-05-24,Falcon 9,13620.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
65,66,2019-06-12,Falcon 9,1425.000000,SSO,VAFB SLC 4E,True RTLS,2,True,True,False,5e9e3032383ecb554034e7c9,5,5,B1051,-120.610829,34.632093,1
68,69,2019-11-11,Falcon 9,15600.000000,VLEO,CCAFS SLC 40,True ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,4,B1048,-80.577366,28.561857,1
69,70,2019-12-05,Falcon 9,5000.000000,ISS,CCAFS SLC 40,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,3,B1059,-80.577366,28.561857,1
70,71,2019-12-17,Falcon 9,6800.000000,GTO,CCAFS SLC 40,True ASDS,3,True,True,False,5e9e3032383ecb6bb234e7ca,5,3,B1056,-80.577366,28.561857,1
71,72,2020-01-07,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
73,74,2020-01-29,Falcon 9,15600.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.577366,28.561857,1
74,75,2020-02-17,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,False ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,3,B1056,-80.577366,28.561857,0
75,76,2020-03-07,Falcon 9,1977.000000,ISS,CCAFS SLC 40,True RTLS,2,True,True,False,5e9e3032383ecb267a34e7c7,5,3,B1059,-80.577366,28.561857,1
76,77,2020-03-18,Falcon 9,15600.000000,VLEO,KSC LC 39A,False ASDS,5,True,True,False,5e9e3032383ecb6bb234e7ca,5,4,B1048,-80.603956,28.608058,0
77,78,2020-04-22,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,4,True,True,False,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
78,79,2020-05-30,Falcon 9,9525.000000,ISS,KSC LC 39A,True ASDS,1,True,False,False,5e9e3032383ecb6bb234e7ca,5,2,B1058,-80.603956,28.608058,1
79,80,2020-06-04,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,5,True,True,True,5e9e3033383ecbb9e534e7cc,5,5,B1049,-80.577366,28.561857,1
80,81,2020-06-13,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5,3,B1059,-80.577366,28.561857,1
81,82,2020-06-30,Falcon 9,3880.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5,2,B1060,-80.577366,28.561857,1
82,83,2020-07-20,Falcon 9,6104.959412,GEO,CCAFS SLC 40,True ASDS,2,True,True,True,5e9e3033383ecbb9e534e7cc,5,2,B1058,-80.577366,28.561857,1
83,84,2020-08-18,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5,5,B1049,-80.577366,28.561857,1
84,85,2020-08-30,Falcon 9,1600.000000,SSO,CCAFS SLC 40,True RTLS,4,True,True,True,5e9e3032383ecb267a34e7c7,5,3,B1059,-80.577366,28.561857,1
85,86,2020-09-03,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5,2,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5,2,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15400.000000,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5,5,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15400.000000,VLEO,CCAFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5,2,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,MEO,CCAFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5,0,B1062,-80.577366,28.561857,1

In [64]:
df_row.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 13 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    58 non-null     int64
 1   Date            58 non-null     datetime64[ns]
 2   BoosterVersion  58 non-null     object
 3   PayloadMass     58 non-null     float64
 4   Orbit           58 non-null     object
 5   LaunchSite      58 non-null     object
 6   Outcome         58 non-null     object
 7   Flights         58 non-null     int64
 8   GridFins        58 non-null     bool
 9   Reused          58 non-null     bool
 10  Legs            58 non-null     bool
 11  LandingPad      58 non-null     object
 12  Block           58 non-null     int64
 13  ReusedCount     58 non-null     int64
 14  Serial          58 non-null     object
 15  Longitude       58 non-null     float64
 16  Latitude        58 non-null     float64
 17  Class           58 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 7.4+ KB

In [65]:
df_col=df_missing.dropna(axis=1)
df_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   Orbit           90 non-null     object
 4   Outcome         90 non-null     object
 5   Flights         90 non-null     int64
 6   GridFins        90 non-null     bool
 7   Reused          90 non-null     bool
 8   Legs            90 non-null     bool
 9   Block           90 non-null     int64
 10  ReusedCount     90 non-null     int64
 11  Serial          90 non-null     object
 12  Longitude       90 non-null     float64
 13  Latitude        90 non-null     float64
 14  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 8.8+ KB

In [66]:
Payload_mean=df_missing['PayloadMass'].mean()

In [67]:
Payload_mean

6379.7368845315905

In [68]:
import numpy as np

In [69]:
df_missing['PayloadMass']=df_missing['PayloadMass'].replace(np.nan,Payload_mean)

In [70]:
df_missing['PayloadMass']

0      6104.959412
1       525.000000
2       677.000000
3      6379.736885
4      3170.000000
          ...
85    15400.000000
86    15400.000000
87    15400.000000
88    15400.000000
89     3681.000000
Name: PayloadMass, Length: 90, dtype: float64

In [71]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      86 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     int64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 10.9+ KB

In [72]:
df_missing['LaunchSite'].value_counts()

CCAFS SLC 40    53
KSC LC 39A      20
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

In [73]:
df_missing['LaunchSite']=df_missing['LaunchSite'].replace(np.nan,'CCAFS SLC 40')

In [74]:
df_missing['LaunchSite']

0     CCAFS SLC 40
1     CCAFS SLC 40
2     CCAFS SLC 40
3      VAFB SLC 4E
4     CCAFS SLC 40
          ...
85      KSC LC 39A
86      KSC LC 39A
87      KSC LC 39A
88    CCAFS SLC 40
89    CCAFS SLC 40
Name: LaunchSite, Length: 90, dtype: object

In [75]:
df_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     datetime64[ns]
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     int64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 10.9+ KB

In [76]:
df_missing['LandingPad'].value_counts()

5e9e3032383ecb6bb234e7ca    35
5e9e3032383ecb267a34e7c7    13
5e9e3033383ecbb9e534e7cc    12
5e9e3032383ecb761634e7cb     2
5e9e3032383ecb554034e7c9     2
Name: LandingPad, dtype: int64

In [77]:
df_landingpad=df_missing[df_missing['LandingPad']=='5e9e3032383ecb6bb234e7ca']
set(df_landingpad['Orbit'])

{'GTO', 'HEO', 'ISS', 'MEO', 'VLEO'}

In [78]:
df_landingpad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 15 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    35 non-null     int64
 1   Date            35 non-null     datetime64[ns]
 2   BoosterVersion  35 non-null     object
 3   PayloadMass     35 non-null     float64
 4   Orbit           35 non-null     object
 5   LaunchSite      35 non-null     object
 6   Outcome         35 non-null     object
 7   Flights         35 non-null     int64
 8   GridFins        35 non-null     bool
 9   Reused          35 non-null     bool
 10  Legs            35 non-null     bool
 11  LandingPad      35 non-null     object
 12  Block           35 non-null     int64
 13  ReusedCount     35 non-null     int64
 14  Serial          35 non-null     object
 15  Longitude       35 non-null     float64
 16  Latitude        35 non-null     float64
 17  Class           35 non-null     int64
dtypes: bool(3), datetime64[ns](1), float64(3), int64(5), object(6)
memory usage: 4.5+ KB

In [79]:
df_missing[['LandingPad','Orbit']]

                  LandingPad Orbit
0                        NaN   LEO
1                        NaN   LEO
2                        NaN   ISS
3                        NaN    PO
4                        NaN   GTO
..                       ...   ...
85  5e9e3032383ecb6bb234e7ca  VLEO
86  5e9e3032383ecb6bb234e7ca  VLEO
87  5e9e3032383ecb6bb234e7ca  VLEO
88  5e9e3033383ecbb9e534e7cc  VLEO
89  5e9e3032383ecb6bb234e7ca   MEO

[90 rows x 2 columns]

In [80]:
from google.colab import files

In [81]:
uploaded=files.upload()

Saving dataset-falcon9 (1).csv to dataset-falcon9 (1) (1).csv

In [82]:
df=pd.read_csv('dataset-falcon9 (1).csv')

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FlightNumber    90 non-null     int64
 1   Date            90 non-null     object
 2   BoosterVersion  90 non-null     object
 3   PayloadMass     90 non-null     float64
 4   Orbit           90 non-null     object
 5   LaunchSite      90 non-null     object
 6   Outcome         90 non-null     object
 7   Flights         90 non-null     int64
 8   GridFins        90 non-null     bool
 9   Reused          90 non-null     bool
 10  Legs            90 non-null     bool
 11  LandingPad      64 non-null     object
 12  Block           90 non-null     float64
 13  ReusedCount     90 non-null     int64
 14  Serial          90 non-null     object
 15  Longitude       90 non-null     float64
 16  Latitude        90 non-null     float64
 17  Class           90 non-null     int64
dtypes: bool(3), float64(4), int64(4), object(7)
memory usage: 10.9+ KB

In [84]:
df['LaunchSite']

0     CCAFS SLC 40
1     CCAFS SLC 40
2     CCAFS SLC 40
3      VAFB SLC 4E
4     CCAFS SLC 40
          ...
85      KSC LC 39A
86      KSC LC 39A
87      KSC LC 39A
88    CCAFS SLC 40
89    CCAFS SLC 40
Name: LaunchSite, Length: 90, dtype: object

In [85]:
set(df['LaunchSite'])

{'CCAFS SLC 40', 'KSC LC 39A', 'VAFB SLC 4E'}

In [86]:
dummy_1=pd.get_dummies(df['LaunchSite'])
dummy_1

    CCAFS SLC 40  KSC LC 39A  VAFB SLC 4E
0              1           0            0
1              1           0            0
2              1           0            0
3              0           0            1
4              1           0            0
..           ...         ...          ...
85             0           1            0
86             0           1            0
87             0           1            0
88             1           0            0
89             1           0            0

[90 rows x 3 columns]

In [87]:
dummy_2=pd.get_dummies(df['LandingPad'])
dummy_2

,5e9e3032383ecb267a34e7c7,5e9e3032383ecb554034e7c9,5e9e3032383ecb6bb234e7ca,5e9e3032383ecb761634e7cb,5e9e3033383ecbb9e534e7cc
0,0,0,0,0,0
1,0,0,0,0,0
2,0,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,0
...,...,...,...,...,...
85,0,0,1,0,0
86,0,0,1,0,0
87,0,0,1,0,0
88,0,0,0,0,1
89,0,0,1,0,0

In [88]:
df_dummy=pd.get_dummies(df[['Orbit','LaunchSite','Outcome','LandingPad','Serial']])

In [89]:
df_dummy

,Orbit_ES-L1,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,Orbit_LEO,Orbit_MEO,Orbit_PO,Orbit_SO,Orbit_SSO,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
87,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
89,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [90]:
df=df.drop(['Orbit','LaunchSite','LandingPad','Outcome','Serial'],axis=1)

In [91]:
df=pd.concat([df,df_dummy],axis=1)

In [92]:
df

,FlightNumber,Date,BoosterVersion,PayloadMass,Flights,GridFins,Reused,Legs,Block,ReusedCount,...,Serial_B1048,Serial_B1049,Serial_B1050,Serial_B1051,Serial_B1054,Serial_B1056,Serial_B1058,Serial_B1059,Serial_B1060,Serial_B1062
0,1,2010-06-04,Falcon 9,6104.959412,1,False,False,False,1.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,2012-05-22,Falcon 9,525.000000,1,False,False,False,1.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,2013-03-01,Falcon 9,677.000000,1,False,False,False,1.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,2013-09-29,Falcon 9,500.000000,1,False,False,False,1.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,2013-12-03,Falcon 9,3170.000000,1,False,False,False,1.0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15400.000000,2,True,True,True,5.0,2,...,0,0,0,0,0,0,0,0,1,0
86,87,2020-10-06,Falcon 9,15400.000000,3,True,True,True,5.0,2,...,0,0,0,0,0,0,1,0,0,0
87,88,2020-10-18,Falcon 9,15400.000000,6,True,True,True,5.0,5,...,0,0,0,1,0,0,0,0,0,0
88,89,2020-10-24,Falcon 9,15400.000000,3,True,True,True,5.0,2,...,0,0,0,0,0,0,0,0,1,0
89,90,2020-11-05,Falcon 9,3681.000000,1,True,False,True,5.0,0,...,0,0,0,0,0,0,0,0,0,1

In [93]:
df.to_csv('preprocessed_dataset.csv')